process {
    withName: '.*:BAM_ADDNUCLEOSOMES_FIBERTOOLS:.*' {
        publishDir = [
            path: { "${params.outdir}/fibertools" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: '.*:BAM_ADDNUCLEOSOMES_FIBERTOOLS:FIBERTOOLSRS_ADDNUCLEOSOMES' {
        ext.prefix = { "${meta.file_name}.nucleosomes" }
    }

    withName: '.*:BAM_ADDNUCLEOSOMES_FIBERTOOLS:FIBERTOOLSRS_EXTRACT' {
        ext.prefix = { "${meta.file_name}.nucleosomes" }
    }
}
