/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for testing Fiber-seq with existing m6A tags
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and parameters for a lightweight Fiber-seq test using a BAM
    that already contains m6A modification tags.

    Use as follows:
        nextflow run nf-core/pacvar -r 1.1.0<or above> -profile test_fiberseq_with_m6A_tags,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h'
    ]

}

params {
    config_profile_name         = 'Test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline function for wgs with pbsv workflow'

    input                       = params.pipelines_testdata_base_path + 'pacbio_data/samplesheet-fiberseq-with-m6A-tags.csv'
    intervals                   = params.pipelines_testdata_base_path + 'pacbio_data/revio-with-m6a-tags.intervals.bed'

    workflow                    = 'wgs'
    genome                      = 'GATK.GRCh38'

    skip_demultiplexing         = true
    skip_snp                    = true
    sv_caller                   = 'pbsv'
    skip_phase                  = true
    skip_cpg                    = true
    skip_fiberseq               = true
    skip_hificnv                = true
    skip_ensemblvep             = true

}
