/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for testing Fiber-seq with kinetics
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and parameters for a lightweight Fiber-seq test using a BAM
    with kinetic signatures and no existing m6A tags.

    Use as follows:
        nextflow run nf-core/pacvar -r 1.1.0<or above> -profile test_fiberseq_with_kinetics,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '24.GB',
        time: '6.h'
    ]

    withName: '.*:BAM_M6A_ADDNUCLEOSOMES_FIBERTOOLS:FIBERTOOLSRS_EXTRACT_M6A' {
        ext.args = '-ml 204' // 80% m6A probability threshold
    }
}

params {
    config_profile_name         = 'Fiber-seq with kinetics test profile'
    config_profile_description  = 'Test Fiber-seq processing from a BAM with kinetic signatures and m6A prediction enabled'

    input                       = params.pipelines_testdata_base_path + 'pacbio_data/samplesheet-fiberseq-with-kinetics.csv' 

    workflow                    = 'wgs'
    genome                      = 'GATK.GRCh38'

    skip_demultiplexing         = true
    skip_fiberseq               = false
    skip_m6A_predict            = false
    skip_cpg                    = true
    skip_hificnv                = true
    skip_sv                     = true
    skip_ensemblvep             = true

}
