/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/pacvar -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '24.GB',
        time: '6.h'
    ]

    withName: 'SAWFISH_DISCOVER' {
        ext.args = '--disable-cnv --cov-regex "."'
    }
}

params {
    config_profile_name         = 'Test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline function for pure-trgt workflow'

    input                       =  params.pipelines_testdata_base_path + 'pacbio_data/samplesheet_full.csv'

    genome                      = 'GATK.GRCh38'
    dbsnp                       = ''
    dbsnp_tbi                   = ''
    snv_caller                  = 'deepvariant'
    sv_caller                   = 'sawfish'
    workflow                    = 'wgs'
    skip_demultiplexing         = true // no need to demultiplexing
    // Set skip_hifhicnv=true because the sample does not have enough coverage (will render exit status 65)
    // Use test_wgs_hificnv.config to test HiFiCNV
    skip_hificnv                = true
}
