/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/pacvar -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '24.GB',
        time: '6.h'
    ]

    withName: 'SAWFISH_DISCOVER' {
        ext.args = '--disable-cnv --cov-regex "."'
    }
}

params {
    config_profile_name         = 'Test profile'
    config_profile_description  = 'Minimal test dataset to check pipeline function for wgs x workflow'

    input                       =  params.pipelines_testdata_base_path + 'pacbio_data/samplesheet_full.csv'

    genome                      = 'GATK.GRCh38'
    snv_caller                  = 'deepvariant'
    sv_caller                   = 'sawfish'
    workflow                    = 'wgs'
    skip_demultiplexing         = true  // no need to demultiplexing
    skip_hificnv                = true  // not enough coverage; use test_wgs_hificnv.config to test hificnv
    download_vep_cache          = false // staging cache from S3 bucket
}
