/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for testing variant calls and haplotagging
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and parameters for a lightweight WGS workflow test for PBMM2,
    DeepVariant, Sawfish, and HiPhase

    Use as follows:
        nextflow run nf-core/pacvar -r 1.2.0<or above> -profile test_deepvariant_sawfish_hiphase,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '6.h'
    ]

    withName: 'PBMM2_ALIGN' {
        memory = '15 GB'
        cpus = 2
    }

    withName: 'SAWFISH_DISCOVER' {
        ext.args = '--disable-cnv --cov-regex "."'
    }
}

params {
    config_profile_name         = 'Test WGS profile'
    config_profile_description  = 'Test WGS workflow from BAM, variant calls to haplotagging'

    input                       = params.pipelines_testdata_base_path + 'pacbio_data/samplesheet-fiberseq-with-m6A-tags.csv'
    intervals                   = params.pipelines_testdata_base_path + 'pacbio_data/revio-with-m6a-tags.intervals.bed'

    workflow                    = 'wgs'
    genome                      = 'GATK.GRCh38'

    snv_caller                  = 'deepvariant'
    sv_caller                   = 'sawfish'

    skip_cpg                    = true
    skip_hificnv                = true
    skip_demultiplexing         = true
    skip_fiberseq               = true
    skip_ensemblvep             = true

}
